<html>
  <head><title><%= title %></title></head>
  <body>
        Name : <input type="text" name="nme" value="<%= response.nme %>"><br/>
        Mobile : <input type="text" name="mob" value="<%= response.mob %>"><br/>
        Email : <input type="text" name="email" value="<%= response.email %>"><br/>
        <input type="submit" name="" value="Save">
  </body>
</html>